* {
    margin: 0;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(99, 34, 90);
}
.logocad {
    width: 100px;
    height: 100px;
    margin: 10px;
}
h1 {
    color: white;
}
footer {
    display: flex;
    justify-content: center;
}